#add_box{
    width: 700px; 
    height: 520px; 
    background: #fff;
    margin-left: 20px; 
    padding: 10px;
    box-sizing: border-box;
}
#add_box #user{
    width: 300px;
}
#add_box #psw1{
    width: 300px;
}
#add_box #psw2{
    width: 300px;
}
#add_box #name{
    width: 300px;
}
#add_box #phone{
    width: 300px;
}
.add_data{
    width: 100%;
    height: auto;
    position: relative;
}
.add_span{
    position: absolute;
    right:100px;
    top:50%;
    margin-top: -10px;
    font-size: 12px;
    color:red;
    list-style: 20px;
    display: none;
}
.sex_span{
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    margin:0 20px 0 53px;
}
.intro_span{
    margin: 0 0 10px 20px;
    display: inline-block;
}
#add_intro{
    height: 100px;
}
#add_btn{
    margin-top:20px;

}

